<?xml version="1.0"?>
<robot name="bluebot"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find swarm_simulation)/urdf/inertia.xacro" />
    <xacro:include filename="$(find swarm_simulation)/urdf/rim.urdf.xacro" /> 

    <link name="dummy"> </link>
    <link name="base_link">
    <!-- Altered Inertial values using trial and error process for stablilization of bot-->

        <!-- <xacro:box_inertia m = "0.80" x = "0.085" y = "-0.10" z = "0.05" /> -->
        
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <mass value="0.9" />
            <inertia ixx="0.000070003" ixy="0.0" ixz="0.0" iyy="0.000070003" iyz="0.0" izz="0.000040" />
            <!-- <inertia ixx="0" ixy="-0.0" ixz="-1e-06" iyy="0" iyz="0" izz="0" /> -->
        </inertial>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://swarm_simulation/models/B_bot/bluebot.dae" scale="1 1 1" />
            </geometry>
        </visual>
        
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://swarm_simulation/models/B_bot/bluebot.dae" scale="1 1 1" />
            </geometry>
        </collision>
    </link>

    <!-- Dummy link -->
    <joint name="dummy_joint" type="fixed">
        <parent link="dummy"/>
        <child link="base_link"/>
        <origin xyz = "0 0 0"/>
    </joint>

    <!-- Front wheel link -->

    <xacro:rim_macro
    name="front"
    color="0 1 0"
    xyz="0 0.0585 -.0735"
    rpy="1.570796326794896 0.05 0"/>

    <!-- Rear wheel link -->

    <xacro:rim_macro
    name="rear"
    color="0 1 0"
    xyz="0 -0.0595 -.0735"
    rpy="1.570796326794896 0.05 3.14"/>

    <!-- Left wheel link -->

    <xacro:rim_macro
    name="left"
    color="0 1 0"
    xyz="0.0585 0 -.0735"
    rpy="1.570796326794896 0.05 -1.57"/>

    <!-- Right Wheel link  -->

    <xacro:rim_macro
    name="right"
    color="0 1 0"
    xyz="-0.0590 0 -.0735"
    rpy="1.570796326794896 0.05 1.57"/>

    <!-- Should install sudo apt-get install ros-noetic-ros-control ros-noetic-ros-controllers -->
    <gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotNamespace>/bluebot</robotNamespace>
		</plugin>
		
	</gazebo>



</robot>